@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>    
</head>
<body>    
  <p>Pure web api project, no pages served on this server</p>
</body>
</html>
