@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <base href="/app/">
    @Styles.Render("~/Content/css")
    
</head>
<body ng-app="myApp" ng-strict-di ng-controller="AppController">    
   <ng-viewport></ng-viewport>    
</body>

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
</html>
